@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;

    overscroll-behavior: none;
}

.sprite {
    width: 50px;
    /* Width of one frame */
    height: 50px;
    /* Height of one frame */
    animation: play 300ms steps(3) infinite;
    background-position: 0 0;

    image-rendering: pixelated;
    /* Modern browsers */
    image-rendering: crisp-edges;
    /* Firefox */
}

.person {
    background-image: url('/sprites/dude.png');
}

.relic {
    background-image: url('/sprites/relic-common.png');
}

.relic.common {
    /* no change */
}

.relic.uncommon {
    filter: sepia(100%) brightness(70%) saturate(300%) hue-rotate(110deg);
}

.relic.rare {
    filter: sepia(100%) brightness(50%) saturate(800%) hue-rotate(200deg);
}

.relic.epic {
    filter: sepia(100%) brightness(65%) saturate(800%) hue-rotate(220deg);
}

.relic.legendary {
    filter: sepia(100%) brightness(70%) saturate(300%) hue-rotate(300deg);
}

@keyframes play {
    from {
        background-position: 0px;
    }

    to {
        background-position: 150px;
    }

    /* Total width of spritesheet */
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}